############################
# OS / エディタ
############################
._*
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.bak
.clj-kondo/
.lsp/

############################
# Clojure（Leiningen / deps.edn）
############################
/target/
/.cpcache/
/.lein-repl-history
/.nrepl-port
dev/input/*.pdf
dev/output/*.txt
.calva/
############################
# 共通: ログ・秘密情報
############################
*.log
*.env
*.local
